aiohttp==3.7.2
antiorm==1.2.1
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.2.0
autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
Columnar==1.3.1
db==0.1.1
db-sqlite3==0.0.1
docopt==0.6.2
fpdf==1.7.2
idna==2.10
more-itertools==8.6.0
multidict==5.0.0
numpy==1.19.3
pandas==1.1.4
pipreqs==0.4.10
pycodestyle==2.6.0
python-dateutil==2.8.1
pytz==2020.4
requests==2.24.0
six==1.15.0
slack-sdk==3.0.0rc1
slackclient==2.9.3
tabulate==0.8.7
toml==0.10.2
toolz==0.11.1
typing-extensions==3.7.4.3
urllib3==1.25.11
wcwidth==0.2.5
yarg==0.1.9
yarl==1.6.2
